<% wrap_layout :layout do %>

    <!-- facebook jdk -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=615420261935129&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <h1><%= current_article.title unless current_article.nil? %></h1>
    <p class="post-meta" style="margin: 20px 0;">
        <time>Posted at <%= current_article.date.strftime('%b %e %Y') unless current_article.nil? %></time>
        <% if !current_article.nil? %>
        <% current_article.tags.each do |tag| %>
            <%= link_to '<i class="fa fa-tag"></i>'+tag, tag_path(tag), :class => "post-category post-category-design"%>
        <% end %>
        <% end %>
    </p>

    <div id="article-body" style="margin-bottom: 40px">
        <%= yield %>
    </div>

    <!-- next and previous -->
    <div class="next-previous-article">
    <% next_article = current_article.next_article %>
    <% if next_article %>
        <%= link_to "← 次の記事", next_article.url, :class => "next-article-link" %>
    <% end %>

    <% previous_article = current_article.previous_article %>
    <% if previous_article %>
        <%= link_to "前の記事 →", previous_article.url, :class => "previous-article-link"  %>
    <% end %>
    </div>

<% end %>
