<% wrap_layout :layout do %>

    <div class="post">
    <h1><%= link_to(current_article.title, current_article.url) unless current_article.nil? %></h1>
    <p class="post-meta">
        <time>Posted at <%= current_article.date.strftime('%b %e %Y') unless current_article.nil? %></time>
        <% if !current_article.nil? %>
        <% current_article.tags.each do |tag| %>
            <%= link_to '<i class="fa fa-tag post-category-icon"></i>'+tag, tag_path(tag), :class => "post-category"%>
        <% end %>
        <% end %>
    </p>

    <div id="article-body">
        <%= yield %>
    </div>

    <div class="share-buttons">
        <%= partial "share_buttons" %>
    </div>

    <!-- next and previous -->
    <div class="next-previous-article">
    <% article_next = current_article.article_next %>
    <% if article_next %>
        <%= link_to "← 次の記事", article_next.url, :class => "next-article-link" %>
    <% end %>

    <% article_previous = current_article.article_previous %>
    <% if article_previous %>
        <%= link_to "前の記事 →", article_previous.url, :class => "previous-article-link"  %>
    <% end %>
    </div>
    </div>

<% end %>
