<% wrap_layout :layout do %>

    <h1><%= link_to(current_article.title, current_article.url) unless current_article.nil? %></h1>
    <p class="post-meta" style="margin: 20px 0;">
        <time>Posted at <%= current_article.date.strftime('%b %e %Y') unless current_article.nil? %></time>
        <% if !current_article.nil? %>
        <% current_article.tags.each do |tag| %>
            <%= link_to '<i class="fa fa-tag"></i>'+tag, tag_path(tag), :class => "post-category post-category-design"%>
        <% end %>
        <% end %>
    </p>

    <div id="article-body" style="margin-bottom: 40px">
        <%= yield %>
    </div>

    <div class="share-buttons">
        <%= partial "share_buttons" %>
    </div>

    <div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//queryok.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    <!-- next and previous -->
    <div class="next-previous-article">
    <% article_next = current_article.article_next %>
    <% if article_next %>
        <%= link_to "← 次の記事", article_next.url, :class => "next-article-link" %>
    <% end %>

    <% article_previous = current_article.article_previous %>
    <% if article_previous %>
        <%= link_to "前の記事 →", article_previous.url, :class => "previous-article-link"  %>
    <% end %>
    </div>

<% end %>
