<!DOCTYPE html>
<html>

<head>
  <%= partial 'dns_prefetches' %>
  <%= partial 'meta_tags' %>
  <%= feed_tag :atom, "#{blog.options.prefix}/feed.xml", title: 'Atom Feed' %>
  <%= javascript_include_tag 'bundle-critical' %>
  <%= javascript_include_tag 'bundle-main', async: 'async' %>
  <%= partial 'ga_tracking_code' %>
  <link rel="canonical" href="<%= app.config.url_root + current_page.url %>">
  <%= yield_content :assets_critical %>
</head>

<body>

<div id="layout" class="pure-g">

    <!-- Sidebar -->
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <%= image_tag '/img/ikuwow_200x200.webp', class: 'brand-logo' %>
            <h1 class="brand-title"><%= link_to app.config.blog_title, '/', { class: 'brand-title-link' } %></h1>
            <h2 class="brand-tagline"><%= app.config.blog_subtitle %></h2>

            <div class="sidebar-social-icons">
              <ul>
                <li><a href="https://twitter.com/ikuwow" class="sidebar-social-icons-link" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="https://facebook.com/ikuwow" class="sidebar-social-icons-link" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://instagram.com/ikuwow" class="sidebar-social-icons-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://github.com/ikuwow" class="sidebar-social-icons-link" target="_blank"><i class="fab fa-github-square"></i></a></li>
                <li><a href="/feed.xml" class="sidebar-social-icons-link"><i class="fas fa-rss"></i></a></li>
              </ul>
            </div>

            <nav class="nav">
              <label class="nav-mobile-open" for="nav-mobile-open"><i class="fas fa-bars"></i></label>
              <input id="nav-mobile-open" type="checkbox">
              <ul class="nav-list">
                <li class="nav-item">
                  <%= link_to 'Home', '/', class: 'pure-button nav-item-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'About', '/about', class: 'pure-button nav-item-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Archive', '/archive', class: 'pure-button nav-item-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Tags', '/tags', class: 'pure-button nav-item-link' %>
                </li>
              </ul>
            </nav>
        </div>
    </div>

    <!-- Article body -->
    <div class="content pure-u-1 pure-u-md-3-4">
        <div class="content-inner">

            <%= yield %>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                      <li class="pure-menu-item"><a href="http://twitter.com/ikuwow" target="_blank" class="pure-menu-link"><i class="fab fa-twitter"></i></a></li>
                      <li class="pure-menu-item"><a href="https://facebook.com/ikuwow" target="_blank" class="pure-menu-link"><i class="fab fa-facebook-square"></i></a></li>
                      <li class="pure-menu-item"><a href="https://instagram.com/ikuwow" target="_blank" class="pure-menu-link"><i class="fab fa-instagram"></i></a></li>
                      <li class="pure-menu-item"><a href="https://github.com/ikuwow" target="_blank" class="pure-menu-link"><i class="fab fa-github"></i></a></li>
                    </ul>
                    <div class="pure-menu-copyright">
                      © <%= Date.today.year %> ikuwow All Rights Reserved.
                    </div>
                </div>
            </div><!-- .footer -->

        </div>
    </div><!-- Article Body -->

</div><!-- #layout -->

<!-- lazy assets -->
<%= yield_content :assets_lazy %>

</body>
</html>
