<% articles.each do |article| %>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">
                <%= link_to article.title, article %>
            </h2>
        </header>

        <p class="post-meta">
          <time>
            Posted at <%= article.date.strftime('%Y/%m/%d %H:%m') %>
            <% if !article.data.updated_at.nil? %>
              Updated at <%= DateTime.parse(article.data.updated_at).strftime('%Y/%m/%d %H:%m') %>
            <% end %>
          </time>
          <% article.tags.each do |tag| %>
            <%= partial 'tag', locals: {tag: tag} %>
          <% end %>

        </p>

        <div class="post-description">
            <p>
                <%= strip_tags(article.summary) %>
            </p>
            <%= link_to '続きを読む', article, :class => "pure-button btn-read-more" %>
        </div>
    </section>
<% end %>
