<% articles.each do |article| %>
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">
                <%= link_to article.title, article %>
                <% # hatena entry %>
                <% entry_url = $base_url+article.url %>
                <a href="http://b.hatena.ne.jp/entry/<%= entry_url %>">
                    <img src="https://b.hatena.ne.jp/entry/image/large/<%= entry_url %>"/>
                </a>
            </h2>
        </header>

        <p class="post-meta">
        <% # By <a href="#" class="post-author">Tilo Mitra</a> under  %>
        <time>Posted at <%= article.date.strftime('%b %e %Y') %></time>
        <% article.tags.each do |tag| %>
            <%= link_to '<i class="fa fa-tag"></i>'+tag, tag_path(tag), :class => "post-category post-category-design"%>
        <% end %>

        <% # <a class="post-category post-category-pure" href="#">Pure</a> %>
        </p>

        <div class="post-description">
            <p>
                <%= strip_tags(article.summary) %>
            </p>
            <%= link_to '続きを読む', article, :class => "pure-button btn-read-more" %>
        </div>
    </section>
<% end %>
