<%
  if current_article.nil?
      title = "Query OK. : ikuwowの技術ブログ"
  else
      title = current_article.title+" : Query OK."
  end
  keywords= "ブログ,ikuwow,ゐくを"
  if !current_article.nil?
    current_article.tags.each do |tag|
        keywords+=','+tag
    end
  end
  description = 'ikuwowの技術ブログ'
%>

<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="<%= keywords %>">
<title><%= title %></title>
<meta name="description" content="<%=description%>">

<!-- ogp -->
<meta property="og:title" content="<%= title %>">
<% if current_article.nil? %>
    <meta property="og:type" content="article">
<% else %>
    <meta property="og:type" content="blog">
<% end %>
<meta property="og:locale" content="ja_JP">
<meta property="og:site_name" content="Query OK. : ikuwowの技術ブログ">
<meta property="og:image" content="<%= app.config.url_root + image_path('/img/ikuwow_200x200.png')%>">
<meta property="article:publisher" content="ikuwow">

<!-- twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ikuwow" />
<meta name="twitter:image" content="<%= app.config.url_root + image_path('/img/ikuwow.jpg')%>" />
<meta name="twitter:title" content="<%=title%>" />
<meta name="twitter:description" content="<%=description%>" />

<meta name="p:domain_verify" content="1c046679ed7f50edcc527bdaea3ec02c"/>
