<%
  title = content_for?(:page_title) ? "#{yield_content(:page_title)} : #{app.config.blog_title}" : "#{app.config.blog_title} : #{app.config.blog_subtitle}"
  description = content_for?(:page_description) ? yield_content(:page_description)  : app.config.blog_subtitle
  og_type = content_for?(:og_type) ? yield_content(:og_type) : 'website'

  thumbnail = app.config.url_root + image_path('/img/ikuwow_200x200.jpg')
  twitter_card = 'summary'

  # Override per page
  if !current_page.data.thumbnail.nil?
    thumbnail = app.config.url_root + image_path(current_page.data.thumbnail)
    twitter_card = 'summary_large_image'
  end
%>

<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<meta name="description" content="<%= description %>">

<!-- twitter card -->
<meta name="twitter:card" content="<%= twitter_card %>" />
<meta name="twitter:creator" content="@ikuwow" />

<!-- ogp -->
<meta property="og:title" content="<%= title %>">
<meta property="og:type" content="<%= og_type %>">
<meta property="og:locale" content="ja_JP">
<meta property="og:site_name" content="<%= app.config.blog_title %>">
<meta property="og:image" content="<%= thumbnail %>">
<meta property="og:description" content="<%= description %>">
<meta property="article:publisher" content="ikuwow">

<meta name="p:domain_verify" content="1c046679ed7f50edcc527bdaea3ec02c"/>
